<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>singup</title>
    <script defer src="/static/user.js"></script>

    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</head>
<body>
    <h1>회원가입</h1>
    <form name="newUser">
        <input type="text" id="id" name="id">
        <label for="">ID</label><br>
        <input type="password" id="pw" name="pw">
        <label for="">Password</label><br>
        <input type="text" id="name" name="name">
        <label for="">Name</label><br>
        <button type="button" onclick="singUP()">Register</button><br>
    </form>
    <a href="/user/singin">Login</a>
</body>
</html>