<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prac3</title>

    <!-- axios cdn -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>
    <!-- 일반 폼 전송 , 동적 폼 전송에서는 js에서 선택할거라 필요 x--> 
    <!-- <form action="/upload/orac" method="post" enctype="multipart/form-data"> -->
    <h2>file 전송 실습</h2>
    <form name="submit">
    <input type="text" name="id" id="id" placeholder="아이디"><br>
    <input type="file" name="profile" id="profile"><br><br>
    <button type="button" onclick="register()">전송</button>

    <!-- 보여줄 이미지 -->
    <img src="" alt="">

    </form>
    <script>

        function register(){

            const form = document.forms['submit'];
            const formData = new FormData();

            console.log(form.id); //id요소
            console.log(form.profile); //파일 요소

            console.log(form.profile.files);
            console.log(form.profile.files[0].name);

            const fileName = form.profile.files[0].name
            const file = form.profile.files[0];
            const userId = form.id.value;


            // 파일명 변경하기
            // form.profile.files[0].name = form.id.value;
            // console.log('변경 후 > ' , form.profile.files[0].name); // 파일 객체에 접근 불가X, 변경 X

            // 확장자
            // const ext = form.profile.files[0].name.split('.')[1];
            // console.log('ext >', ext);

            // const newFile = new File([file], `${userId}.${ext}`,{type: file.type});

            // console.log('newFile >', newFile);

            // multer 세부설정에서 req.body를 쓰고 싶다면, 파일을 맨 마지막에 append
            formData.append('id', userId);
            formData.append('profile', file);

            axios({
                methode: 'post',
                url: '/upload/practice2',
                data: formData,
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then((res) => {
                console.log(res.data);
            })
        }
        // const formData = new FormData();
        
        // const file = document.querySelector('#profile');
        // const userId = documnet.querySelector('#id');
        // const userPw = document.querySelector('#pw');
        // const age = document.querySelector('#age');

        // formData.append('profile',file.files[0]);
        // formData.append('id', userId.value);
        // formData.append('pw', userPw.value);
        // formData.append('age', age.value);

        // axios({
        //     method: 'post',
        //     url: '/upload/prac',
        //     data: formData,
        //     headers: {
        //             'Content-Type': 'multipart/form-data',
        //             // enctype 지정과 동일 
        //         }
        // }).then((res)=>{
        //     const{
        //         file,
        //         userId,
        //         userPw,
        //         age
        //     } = res.data

        //     console.log(res.data);
        //     console.log('file > ', file);

        //     const imgElem = document.querySelector('img');
        //     imgElem.src = '/' + file.path;
        //     imgElem.alt = title;
        //     imgElem.classList.add('profile');
        // })

    
    </script>
</body>
</html>