<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prac3</title>
</head>
<body>
    <h2>file 전송 실습</h2>
    <input type="text" name="id" id="id" placeholder="아이디"><br>
    <input type="password" name="pw" id="pw" placeholder="비밀번호"><br>
    <input type="text" name="nameP" id="nameP" placeholder="이름"><br>
    <input type="text" name="age" id="age" placeholder="나이"><br>
    <input type="file" name="fileSelc" id="fileSelc"><br><br>
    <button type="button" onclick="sendFile()">전송</button>

    <!-- 보여줄 이미지 -->
    <img src="" alt="">

    <script>
        const formData = new FormData();
    </script>
</body>
</html>