<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>실습1 결과확인</title>
</head>
<body>
    <div>
        <!-- <span>< userInfo.name %></span>님 환영합니다. or -->
        <span><%= name %></span>님 환영합니다.
    </div>
    <div>
        생일은 <span><%= bday %></span> 이군요!
    </div>
    <div>
        취미는 <span> <%= into %></span> 이군요!
    </div>
</body>
</html>